/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/11
/public/.htaccess
/public/jsBuildDate.txt
/public/BUILD_TIMESTAMP.txt
/public/service-worker.js
/public/service-worker.js.map
robots.txt
composer.lock
composer.phar
/.idea
README.md
/public/assets/css/app.css
/public/assets/css/styles.css
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/mix-manifest.json
/storage
package-lock.json
