:root {
	--color-white: #fff;
    --color-black: #000;
	--color-blue: #2D9CDB;
    --color-orange: #F2994A;
    --color-red: #EB5757;
    --color-green: #27AE60;
    --base-gold: #E3B940;
    --base-blue: #308BB5;
    --base-blue-base: #1C30AE;
    --base-darkblue: #0D1651;
    --grey: #333;
    --grey-dark: #212121;
    --grey-light: #fafafa;
    --silver: #ccc;


	--state-primary: var(--base-darkblue);
	--state-secondary: var(--base-gold);
	--state-success: var(--color-green);
	--state-info: var(--color-blue);
	--state-warning: var(--color-orange);
	--state-danger: var(--color-red);
	--state-light: var(--color-white);
	--state-dark: var(--color-black);

	--body-bg-color: var(--color-white);
	--color-text:  var(--grey);
	--color-muted: var(--silver);
	--border-radius: 4px;
	--base-unit: 1.5rem;

    --gradient-down: linear-gradient(180deg, #0D1651 0%, rgba(13, 22, 81, 0) 100%);
    --gradient-up: linear-gradient(180deg, rgba(13, 22, 81, 0) 0%, #0D1651 100%);


	--component-bg-color: var(--grey-dark);
	--component-border-color:  var(--silver);
	--component-border-radius: var(--border-radius);
	--component-border-width: 1px;
	--component-focus-width: 2px;
	--component-padding-x: var(--base-unit);
	--component-padding-y: var(--base-unit);
	--component-speed: .25s;
	--component-box-shadow-inner: inset 0 1px 1px rgba(0, 0, 0, .05);
	--component-box-shadow-outer: 0 1px 0 rgba(0, 0, 0, .05);
	--component-box-shadow-box: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	--text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    --spacing-xs: .5rem;
	--spacing-sm: 1rem;
	--spacing-md: 1.5rem;
	--spacing-lg: 2rem;
	--spacing-xl: 2.5rem;
	--z-index-nav: 1000;
	--z-index-popover: 999;

	--centered: {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	};
	--clearfix: {
		&:before,
		&:after {
			content: '';
			display: table;
		}
		&:after {
			clear: both;
		}
	};
	--text-overflow: {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}

