body *:hover::-webkit-scrollbar-thumb {
    background: #f2f2f2;
}
.modal-backdrop.show {
    opacity: 0.25;
}
.btn-file {
    position: relative;
    background: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    direction: ltr;
    cursor: pointer;
    opacity: 0;
}
.table th {
    font-weight: 600;
}
.link {
    cursor: pointer;
}
.flex-100 {
    flex: 0 0 100px
}
.flex-222 {
    flex: 0 0 222px
}
.ui-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-scroll::-webkit-scrollbar-track {
    background: #ccc;
}
.ui-scroll::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
}
.ui-scroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(51, 51, 51, 0.7);
}
.ui-scroll::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.resp-tabs-list li {
    float: none;
    display: block;
}
.resp-tabs-list li .link {
    color: inherit;
    display: block;
    text-align: center;
}
.resp-tabs-list li .link .slider-text {
    display: block;
}
.app-sidebar__toggle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0c9'
}
