:root {
	--navbar-height: 100px;
	--navbar-bg: var(--grey-light);
	--navbar-border-width: 4px;
	--navbar-box-shadow: 0 1px 0 #e2e2e2, inset 0 -1px 0 #e8e8e8;
}
.navbar {
    &_main {
        padding: 20px;
        height: var(--navbar-height);
        background: linear-gradient(180deg, #0D1651 0%, rgba(13, 22, 81, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: var(--z-index-nav);
    }
    .menu:not(.menu_sub) {
        display: flex;
        justify-content: space-around;
    }
    .menu {
        &__item {
            &.is-parent {
                position: relative;
                .menu__title {
                    &::after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 6px;
                        height: 9px;
                        margin-right: 5px;
                    }
                }
                &:hover {
                    > .menu_sub {
                        visibility: visible;
                        pointer-events: auto;
                        opacity: 1;
                    }
                }
            }
        }
        &__title {
            display: block;
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: .5px;
            color: #fff;
            &:hover {
                cursor: pointer;
            }

        }
    }
}
