.close {
    display: inline-block;
    vertical-align: middle;
    border: none;
    color: inherit;
    border-radius: 50%;
    background: transparent;
    position: relative;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transition: all .25s ease-out;
	&:hover {
        opacity: 0.6;
	}
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1rem;
        width: 2px;
        background-color: currentColor;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
